<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "net.penduin.penduinpicross"
		version = "1.2.5">

  <name>Penduin Picross</name>

  <description>
Picross is a game in which solving a puzzle creates a picture. Use the clues at the top and side to determine which blocks to fill in! This game includes 384 original 8x8 Picross puzzles, and a builder with which you can create your own puzzles.
  </description>

  <author href="http://penduin.net"
		  email="owenswerk@gmail.com">
	penduinbits
  </author>

  <icon src="icon256.png" gap:role="default" />
  <icon src="icon64.png" gap:platform="webos" />
  <icon src="icon36.png" gap:platform="android" gap:density="ldpi" />
  <icon src="icon48.png" gap:platform="android" gap:density="mdpi" />
  <icon src="icon72.png" gap:platform="android" gap:density="hdpi" />
<!--
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="orientation" value="portrait" />
-->
</widget>