#debug {
	position: absolute;
	color: orange;
}

body {
	background: #888 url("images/bg.jpg");
	background-size: 100%;
}
.overflow {
	overflow: auto;
}

.app {
	opacity: 1;
}
.pad {
	padding: 1em;
}
.center {
	text-align: center;
}

.fade {
	transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	-ms-transition: 0.25s linear;
}
.fade.out {
	opacity: 0;
}

.onyx-groupbox > * {
	border-color: #555;
}
.list {
	text-align: left;
	margin: 1em;
}
.listitem {
	background: url("images/light.png");
	padding: 0.25em;
}

.menu {
	text-align: center;
}

hr {
	border: 0;
	margin: 12px;
}

.menu .column {
	display: inline-block;
}

.menu .onyx-button, .options .onyx-button {
	width: 300px;
	height: 48px;
	white-space: normal;
}
.menu .onyx-button[disabled] {
	color: #666;
}
.menu .onyx-button.half1 {
	width: 200px;
}
.menu .onyx-button.half2 {
	width: 100px;
}
.menu .onyx-button.difficulty {
	display: block;
}

.menu.small .onyx-button.difficulty {
	height: 54px;
	width: 100px;
	display: inline-block;
}


.tab .onyx-radiobutton {
	padding: 6px 6px;
}

.setting {
	display: inline;
	margin-left: 0.5em;
	font-size: 80%;
}


.picross {
	font-size: 14px;
}

.picross .info {
	text-align: center;
	text-shadow: #fff 1px 1px 4px;
	font-size: 16px;
}

.picross a {
	color: white;
}

.picross .floater {
	text-align: center;
	position: absolute;
	top: 0.5em;
	left: 50%;
	margin-left: -100px;
	width: 200px;

	background: #ddd;
	padding: 0.5em;
	border-radius: 12px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 12px;
	-moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.picross .toolbar {
}
.picross .toolbar .icongroup {
	margin: 0;
	position: absolute;
	right: 16px;
	bottom: 12px;
}
.picross .toolbar.game .select, .picross .toolbar.builder .select,
.picross .toolbar.builder .game, .picross .toolbar.select .game,
.picross .toolbar.select .builder, .picross .toolbar.game .builder {
	display: none;
}

.picross .onyx-button {
	padding: 6px 12px;
}

.picross .toolbar .set {
	margin-top: 0;
	margin-bottom: 0;
}
.picross .toolbar .set .onyx-radiobutton {
	padding: 5px 12px;
}

.playgrid {
	text-align: center;
}

.playgrid table {
	display: inline-block;
	border-spacing: 0px;
	font-size: 90%;
}

.playgrid th {
	background: #bbb;
	color: #222;
	border: 1px solid #999;
}
.playgrid th.left {
	text-align: right;
}
.playgrid th.top {
	vertical-align: bottom;
}
.playgrid th.top.left {
	opacity: 0;
}

.playgrid tr {
}
.playgrid td {
	background: #ddd;
	border: 1px solid #888;
}
.playgrid .fitter {
	pointer-events: none;
	width: 28px;
	height: 28px;
}
.playgrid.big .fitter {
	width: 56px;
	height: 56px;
}
.playgrid.somewhatbig .fitter {
	width: 40px;
	height: 40px;
}
.playgrid.small .fitter {
	width: 16px;
	height: 16px;
}
.playgrid.select td.game {
	background-image: url("images/grid.png");
	background-size: 100%;
	background-position:  50% 50%;
	background-repeat: no-repeat;
}
.playgrid.select td.won {
	background-image: url("images/check.png");
	background-size: 100%;
	background-position:  50% 50%;
	background-repeat: no-repeat;
}
.playgrid td.marked {
	background-image: url("images/x.png");
	background-size: 100%;
	background-position:  50% 50%;
	background-repeat: no-repeat;
}
.playgrid td.filled {
	background: #222;
}
.playgrid th.match {
	background: #8e8;
}


.spacer {
	display: inline-block;
	height: 16px;
	width: 16px;
}


.puzzleview {
	margin: 0;
}
.puzzleview canvas {
	display: inline-block;
	vertical-align: middle;
}
.inline {
	display: inline-block;
	vertical-align: middle;
}

.award {
	margin-left: 0.5em;
}
.award .detail {
	font-size: 75%;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0);
	}
	80% {
		-webkit-transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(0);
	}
	80% {
		-moz-transform: scale(1.1);
	}
	100% {
		-moz-transform: scale(1);
	}
}
/*
.anim .onyx-popup.pop, .notification-badged-bubble.pop {
	-webkit-animation: pulse .25s linear;
	-moz-animation: pulse .25s ease-in;
}
*/
.anim .pop {
	-webkit-animation: pulse .25s linear;
	-moz-animation: pulse .25s ease-in;
}
