.notification-badged-bubble {
	z-index: 11; /**/
	width: 200px; /* 280 */
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 8px;
	background: #8ea url("../../onyx/images/gradient.png"); /* 8CF */
	background-size: auto 100%;
	color: black;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	font-family: "Prelude", Arial, sans-serif;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
	padding: 8px;
	box-sizing: border-box;
}
.notification-badged-bubble:before {
	top:    -2px;
	bottom: -2px;
	left:   -2px;
	right:  -2px;
	position: absolute;
	content: "\a0";
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	background: transparent;
	border: 2px solid rgba(255,255,255,0.5);
	display: block;
}
.notification-badged-bubble .notification-badged-icon {
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 4px;
	left: 4px;
}
.notification-badged-bubble .notification-badged-title {
	font-weight: bold;
	font-size: 18px;
	margin-left: 36px;
}
.notification-badged-bubble .notification-badged-message {
	font-size: 14px;
	margin-left: 36px;
}

.notification-badged-bubble .notification-badged-badge {
	position: absolute;
	right: 187px; /* 267 */
	top: -13px;
	min-width: 26px;
	height: 26px;
	line-height: 22px;
	color: white;
	background: orange url("../../onyx/images/gradient.png"); /* red */
	border: 2px solid white;
	box-shadow: 0 1px 2px rgba(0,0,0,1);
	background-size: auto 100%;
	text-align: center;
	padding: 0 6px;
	border-radius: 13px;
	box-sizing: border-box;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
