.notification-bezel-main {
	height: 200px;
	width: 200px;
	position: fixed;
	top: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 30px;
	background: rgba(0,0,0,0.5) url("../../onyx/images/gradient.png");
	background-size: auto 100%;
	text-align: center;
	color: white;
	text-shadow: 0 1px 2px black;
	box-shadow: 0 2px 8px rgba(0,0,0,0.5);
	font-family: "Prelude", Arial, sans-serif;
}
.notification-bezel-main .notification-bezel-icon {
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	display: block;
	margin: 8px auto;
}
.notification-bezel-main .notification-bezel-title {
	font-weight: bold;
	font-size: 18px;
}
.notification-bezel-main .notification-bezel-message {
	font-size: 14px;
	padding: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 3em;
}
