.notification-messagebar-bar {
	position: fixed;
	height: 30px;
	background: black;
	bottom: -30px;
	left: 0;
	right: 0;
	font-family: "Prelude", Arial, sans-serif;
	color: white;
}

.notification-messagebar-notification {
	height: 30px;
	box-sizing: border-box;
	top: 30px;
	position: absolute;
	padding: 0;
	white-space: nowrap;
}
.notification-messagebar-icon {
	height: 22px;
	width: 22px;
	margin: 4px;
	display: inline-block;
	background-size: 100% 100%;
	vertical-align: middle;
}
.notification-messagebar-title {
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
	margin: 4px;
}
.notification-messagebar-message {
	display: inline-block;
	vertical-align: middle;
	margin: 4px;
	color: rgba(255,255,255,0.75);
}
