.notification-pop-bubble {
	width: 300px;
	position: fixed;
	top: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 8px;
	background: rgba(0,32,192,0.75) url("../../onyx/images/gradient.png");
	background-size: auto 100%;
	text-align: center;
	color: white;
	text-shadow: 0 -1px 0 black;
	box-shadow: 0 2px 8px rgba(0,0,0,0.5);
	font-family: "Prelude", Arial, sans-serif;
}
.notification-pop-bubble .notification-pop-icon {
	background-size: 100% 100%;
	height: 64px;
	width: 64px;
	display: block;
	position: absolute;
	margin: auto 0;
	top: 0;
	bottom: 0;
	left: -74px;
	opacity: 5;
}
.notification-pop-bubble .notification-pop-title {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.notification-pop-bubble .notification-pop-message {
	font-size: 14px;
	margin: 8px;
}
